<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />

  <script src="https://api.mapbox.com/mapbox-gl-js/v1.7.0/mapbox-gl.js"></script>
  <link href="https://api.mapbox.com/mapbox-gl-js/v1.7.0/mapbox-gl.css" rel="stylesheet" />
  {{!-- <style>
    #map {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
    }
  </style> --}}
</head>

<body>


  <nav class="navbar">
    <div><a href="/">Home</a></div>
    {{#if user}}
    <a href="/auth/user">{{user.username}}</a>
    <a href="/logout">Log out</a>
    {{else}}
    <div><a href="/auth/signup">Sign Up</a></div>
    <div><a href="/auth/login">Log In</a></div>
    {{/if}}
  </nav>
  <div class="detail-container">
    <div class="detail-names">
      <h1>SURF REPORT AND FORECAST </h1>
      <h2> for {{info.0.name}}</h2>
      <form id="add-favourites">
        <button type="submit" id="favourite"></button>
      </form>
      <h4 id="added" style="visibility: hidden">Added to Favorites!</h4>
    </div>

    <div class="forecast-overview">
      <div id="wave-height-container">
        <p id="description-title">Wave Height</p>
        <p>{{waveInfo.height}}</p>
        <p>{{waveInfo.relation}}</p>
      </div>
      <div id="tide-container">
        <p id="description-title"> current tide </p>
        <p>{{overview.tide.current.height}}m</p>
        <p>{{previousTideInfo.type}}Tide {{previousTideInfo.height}}m at {{tideTimeprev}}</p>
        <p>{{nextTideInfo.type}}Tide {{nextTideInfo.height}}m at {{tideTime}}</p>
      </div>
      <div id="wind-container">
        <p id="description-title">Wind</p>
        <p>{{windInfo.speed}}</p>
        <p>{{windInfo.direction}} ({{windInfo.degree}}째)</p>
      </div>
      <div id="swell-container">
        <p id="description-title">Swells</p>
        {{#each swellInfo}}
        <p>{{this.height}}m at {{this.period}}s {{this.direction.direction}} {{this.direction.degree}}째</p>
        {{/each}}
      </div>
      <div id="water-temp-container">
        <p id="description-title">Water Temperature</p>
        <p><img src="https://wa.cdn-surfline.com/quiver/0.6.2/weathericons/WATER_ICON.svg"
            alt="WaterIcon">{{overview.waterTemp.min}} - {{overview.waterTemp.max}} 째C</p>
      </div>
      <div id="weather-container">
        <p id="description-title">Weather</p>
        <p><img src="{{weather}}" alt="{{overview.weather.condition}}">{{overview.weather.temperature}}째C</p>
      </div>
    </div>

    <div id="recommendation-container">
      <div>
        <p><img src="/images/017-hand.png" alt="Hand" width="16px"> recommended ability level: <span> {{levels}}</span>
        </p>
      </div>
      <div>
        <p><img src="/images/025-surfboard-3 .png" alt="Boards" width="16px"> recommended board type:
          <span> {{boards}}</span></p>
      </div>
      <div class="logo">powered by: <img src="/images/Surfline-1894871998f31f4c9d2077d05593e635.svg" height="32px"
          alt="Surfline-Logo">
      </div>
    </div>

    <div id="ideal-title">
      <h3>Ideal {{info.0.name}} Surf Condition</h3>
    </div>
    <div class="ideal-condition-overview">
      <div>
        <p><img src="/images/kompass.png" alt="Kompass" width="16px"> <strong> Swell Direction</strong></p>
        <p>{{ideal.swell}}</p>
      </div>
      <div>
        <p><img src="/images/003-wind-1.png" alt="Wind" width="16px"> <strong> Wind</strong></p>
        <p>{{ideal.wind}}</p>
      </div>
      <div>
        <p><img src="/images/019-wave-1.png" alt="Wave" width="16px"> <strong> Surf Height</strong></p>
        <p>{{ideal.size}}</p>
      </div>
      <div>
        <p><img src="/images/tide.png" alt="Tide" width="16px"> <strong> Tide</strong></p>
        <p>{{ideal.tide}}</p>
      </div>
    </div>
  </div>
  <div id="map" style="width:500px; height:500px; margin: 0 auto;"></div>
  <script>
    mapboxgl.accessToken =
      "pk.eyJ1Ijoic2hhdWxpdHRvIiwiYSI6ImNrNmk5dGZldTAyaWEza25udHMyMmsyM2wifQ.4Y2j_O7W5UvuwxXH7VDeEw";
    var coords = {{{ location }}}
    coords = [coords.x, coords.y]
    console.log(coords)

    var map = new mapboxgl.Map({
      container: "map",
      style: "mapbox://styles/mapbox/light-v10",
      center: coords,
      zoom: 13
    });
    new mapboxgl.Marker()
      .setLngLat(coords)
      .addTo(map);
  </script>
  <div id="chart"><canvas id="bar-chart" width="600" height="200"></canvas></div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  <script
    src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@0.7.0/dist/chartjs-plugin-datalabels.min.js"></script>
  <script src="/javascripts/chart.js"></script>

  <script>
    document.querySelector("#add-favourites").onsubmit = (event) => {
      event.preventDefault()

      axios.post("/auth/user/favourites/{{info.0.id}}").then(() => {
        console.log("response received")
        document.querySelector("#add-favourites").style.display = "none";
        document.getElementById("added").style.visibility = "visible"
      })
    }
  </script>
  <footer>Made by
    <a href="https://www.linkedin.com/in/konstantindauer/" target="_blank">Konstantin Dauer </a> and <a
      href="https://www.linkedin.com/in/shaulmansour/" target="_blank">Shaul Mansour</a>
    during Ironhack Bootcamp January 2020</footer>
</body>

</html>